# Dependency/Build Directories
node_modules
npm-debug.log
.git

# Docker Specific Files
Dockerfile
.dockerignore

# Source/Development Files
src/          # Ignore the source files; the compiled 'dist' is enough.
*.ts          # Ignore individual TypeScript files.
tsconfig.json # Not needed in the final image.

# Secret/Environment Files
.env
